<?xml version="1.0" encoding="UTF-8"?>
<Properties>
  <_id>
    <oid>548d1be7bd35430cad010b38</oid>
  </_id>
  <archive_url>https://api.github.com/repos/neonds/springseed/{archive_format}{/ref}</archive_url>
  <assignees_url>https://api.github.com/repos/neonds/springseed/assignees{/user}</assignees_url>
  <blobs_url>https://api.github.com/repos/neonds/springseed/git/blobs{/sha}</blobs_url>
  <branches_url>https://api.github.com/repos/neonds/springseed/branches{/branch}</branches_url>
  <clone_url>https://github.com/neonds/springseed.git</clone_url>
  <collaborators_url>https://api.github.com/repos/neonds/springseed/collaborators{/collaborator}</collaborators_url>
  <comments_url>https://api.github.com/repos/neonds/springseed/comments{/number}</comments_url>
  <commits_url>https://api.github.com/repos/neonds/springseed/commits{/sha}</commits_url>
  <compare_url>https://api.github.com/repos/neonds/springseed/compare/{base}...{head}</compare_url>
  <contents_url>https://api.github.com/repos/neonds/springseed/contents/{+path}</contents_url>
  <contributors_url>https://api.github.com/repos/neonds/springseed/contributors</contributors_url>
  <created_at>11/24/2014 4:04:09 PM</created_at>
  <default_branch>master</default_branch>
  <description>espublico</description>
  <downloads_url>https://api.github.com/repos/neonds/springseed/downloads</downloads_url>
  <events_url>https://api.github.com/repos/neonds/springseed/events</events_url>
  <fork>False</fork>
  <forks>0</forks>
  <forks_count>0</forks_count>
  <forks_url>https://api.github.com/repos/neonds/springseed/forks</forks_url>
  <full_name>neonds/springseed</full_name>
  <git_commits_url>https://api.github.com/repos/neonds/springseed/git/commits{/sha}</git_commits_url>
  <git_refs_url>https://api.github.com/repos/neonds/springseed/git/refs{/sha}</git_refs_url>
  <git_tags_url>https://api.github.com/repos/neonds/springseed/git/tags{/sha}</git_tags_url>
  <git_url>git://github.com/neonds/springseed.git</git_url>
  <has_downloads>True</has_downloads>
  <has_issues>True</has_issues>
  <has_pages>False</has_pages>
  <has_wiki>True</has_wiki>
  <homepage>
  </homepage>
  <hooks_url>https://api.github.com/repos/neonds/springseed/hooks</hooks_url>
  <html_url>https://github.com/neonds/springseed</html_url>
  <id>27083017</id>
  <issue_comment_url>https://api.github.com/repos/neonds/springseed/issues/comments/{number}</issue_comment_url>
  <issue_events_url>https://api.github.com/repos/neonds/springseed/issues/events{/number}</issue_events_url>
  <issues_url>https://api.github.com/repos/neonds/springseed/issues{/number}</issues_url>
  <keys_url>https://api.github.com/repos/neonds/springseed/keys{/key_id}</keys_url>
  <labels_url>https://api.github.com/repos/neonds/springseed/labels{/name}</labels_url>
  <language>Java</language>
  <languages_url>https://api.github.com/repos/neonds/springseed/languages</languages_url>
  <merges_url>https://api.github.com/repos/neonds/springseed/merges</merges_url>
  <milestones_url>https://api.github.com/repos/neonds/springseed/milestones{/number}</milestones_url>
  <mirror_url>
  </mirror_url>
  <name>springseed</name>
  <network_count>0</network_count>
  <notifications_url>https://api.github.com/repos/neonds/springseed/notifications{?since,all,participating}</notifications_url>
  <open_issues>0</open_issues>
  <open_issues_count>0</open_issues_count>
  <owner>
    <avatar_url>https://avatars.githubusercontent.com/u/2397243?v=3</avatar_url>
    <events_url>https://api.github.com/users/neonds/events{/privacy}</events_url>
    <followers_url>https://api.github.com/users/neonds/followers</followers_url>
    <following_url>https://api.github.com/users/neonds/following{/other_user}</following_url>
    <gists_url>https://api.github.com/users/neonds/gists{/gist_id}</gists_url>
    <gravatar_id>
    </gravatar_id>
    <html_url>https://github.com/neonds</html_url>
    <id>2397243</id>
    <login>neonds</login>
    <organizations_url>https://api.github.com/users/neonds/orgs</organizations_url>
    <received_events_url>https://api.github.com/users/neonds/received_events</received_events_url>
    <repos_url>https://api.github.com/users/neonds/repos</repos_url>
    <site_admin>False</site_admin>
    <starred_url>https://api.github.com/users/neonds/starred{/owner}{/repo}</starred_url>
    <subscriptions_url>https://api.github.com/users/neonds/subscriptions</subscriptions_url>
    <type>User</type>
    <url>https://api.github.com/users/neonds</url>
  </owner>
  <permissions>
    <admin>False</admin>
    <pull>True</pull>
    <push>False</push>
  </permissions>
  <private>False</private>
  <pulls_url>https://api.github.com/repos/neonds/springseed/pulls{/number}</pulls_url>
  <pushed_at>11/25/2014 4:26:34 PM</pushed_at>
  <releases_url>https://api.github.com/repos/neonds/springseed/releases{/id}</releases_url>
  <size>420</size>
  <ssh_url>git@github.com:neonds/springseed.git</ssh_url>
  <stargazers_count>0</stargazers_count>
  <stargazers_url>https://api.github.com/repos/neonds/springseed/stargazers</stargazers_url>
  <statuses_url>https://api.github.com/repos/neonds/springseed/statuses/{sha}</statuses_url>
  <subscribers_count>1</subscribers_count>
  <subscribers_url>https://api.github.com/repos/neonds/springseed/subscribers</subscribers_url>
  <subscription_url>https://api.github.com/repos/neonds/springseed/subscription</subscription_url>
  <svn_url>https://github.com/neonds/springseed</svn_url>
  <tags_url>https://api.github.com/repos/neonds/springseed/tags</tags_url>
  <teams_url>https://api.github.com/repos/neonds/springseed/teams</teams_url>
  <trees_url>https://api.github.com/repos/neonds/springseed/git/trees{/sha}</trees_url>
  <updated_at>11/25/2014 4:26:34 PM</updated_at>
  <url>https://api.github.com/repos/neonds/springseed</url>
  <watchers>0</watchers>
  <watchers_count>0</watchers_count>
</Properties>